:root {
    --color-black: hsl(0, 0%, 10%);
    --color-white: hsl(0, 0%, 100%);
    --color-darken: hsl(0, 0%, 20%);
    --color-pink-100: hsl(336, 95%, 94%);
    --color-green: #3A89FF;
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

pp {
    padding-left: 20px;
}

input:focus:not([type=submit]), textarea:focus {
    outline: none;
    border-bottom: 1px solid #fb8c00;
}

.item {
    border: 1px solid green;
    border-radius: 10px;
    padding: 7px;
    margin: 2px;
}


.itemin {
    padding: 13px 15px;
}

.search {
    outline: none;
    border: none;
    text-decoration: none;
}

.cat {
    text-decoration: none;
    color: black;
}

.checks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.chitem {
    margin-left: 860px;
}

.ll {
    display: inline-block;
    line-height: 2em;
}

.tx {
    font-size: 90%;
    color: #23a843;
    border: 1px solid #23a843;
    border-radius: 5px;
    padding: 6px;
    display: inline-block;
}

.asd {
    padding: 15px;
}

.product {
    border: 1px solid green;
    border-radius: 10px;
    display: inline-block;
    padding: 7px;
    margin: 2px;
    height: 400px;
}

.pay {
    padding-top: 10px;
    padding-bottom: 10px
}

.prod_url {
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 34px;


    color: #5F6F76;
    text-decoration: none;
}

.prod_url:hover {
    color: #5F6F76;
}

.container {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.brand {
    font-family: "Rubik", sans-serif;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -1px;
    color: var(--color-green);
    text-transform: uppercase;
    text-decoration: none;
}

.header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0.75rem 0;
    z-index: 100;
    background: var(--color-white);
    -webkit-box-shadow: var(--shadow-medium);
    box-shadow: var(--shadow-medium);
}

.header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    /*display: flex;*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
}

.header-item-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header-item-right .menu-icon {
    font-size: 1.35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
    color: var(--color-black);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header .menu > ul > li {
    display: inline-block;
    line-height: 3.125rem;
    margin-left: 1.5rem;
}

.header .menu > ul > li > a {
    position: relative;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    border: none;
    outline: none;
    color: var(--color-black);
    text-transform: capitalize;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.header .menu > ul > li .menu-subs {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 1.75rem;
    padding: 1rem 2rem;
    z-index: 109;
    opacity: 0;
    visibility: hidden;
    border-radius: 0.25rem;
    border-top: 3px solid var(--color-pink-600);
    background: var(--color-white);
    -webkit-box-shadow: var(--shadow-medium);
    box-shadow: var(--shadow-medium);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header .menu > ul > li .menu-subs > ul > li {
    line-height: 1;
}

.header .menu > ul > li .menu-subs > ul > li > a {
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.75rem 0;
    border: none;
    outline: none;
    color: var(--color-black);
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header .menu > ul > li .menu-column-1 {
    min-width: 16rem;
    max-width: 20rem;
}

.header .menu > ul > li .menu-subs.menu-mega {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li {
    display: block;
    line-height: 1;
}

.header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a {
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.5rem 0;
    border: none;
    outline: none;
    color: var(--color-black);
    text-transform: capitalize;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.header .menu > ul > li .menu-subs.menu-column-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 68rem;
    width: 100%;
    padding: 1.25rem 1rem;
}

.header .menu > ul > li .menu-subs.menu-column-4 > .list-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 1rem;
}

.header .menu > ul > li .menu-subs.menu-column-4 > .list-item .title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    padding: 0.75rem 0;
    color: var(--color-pink-700);
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center .title {
    text-align: center;
}

.header .menu > ul > li .menu-subs.menu-column-4 > .list-item img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0.75rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a:hover,
.header .menu > ul > li .menu-subs > ul > li > a:hover {
    color: var(--color-pink-700);
}

.header-item-right a:hover,
.header .menu > ul > li:hover > a {
    color: var(--color-pink-700);
}

.header .menu-mobile-header,
.header .menu-mobile-toggle {
    display: none;
}

.right {
    margin-left: 50px;
}

@media screen and (min-width: 993px) {
    .header .menu > ul > li.menu-item-has-children:hover .menu-subs {
        margin-top: 0.5rem;
        opacity: 1;
        visibility: visible;
    }

    .menu-section {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-block-start: 0px;
        margin-top: 1em;
    }
}

@media screen and (max-width: 992px) {
    .header-item-center {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .header-item-left, .header-item-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0.5rem 0;
    }

    .header .menu-mobile-toggle {
        position: relative;
        display: block;
        cursor: pointer;
        width: 1.75rem;
        height: 1rem;
        border: none;
        outline: none;
        margin-left: 1.25rem;
        margin-top: -0.25rem;
        background: none;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out;
    }

    .header .menu-mobile-toggle span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        border: none;
        outline: none;
        opacity: 1;
        border-radius: 0.25rem;
        background: var(--color-black);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    .header .menu-mobile-toggle span:nth-child(1) {
        top: 0;
    }

    .header .menu-mobile-toggle span:nth-child(2), .header .menu-mobile-toggle span:nth-child(3) {
        top: 0.5rem;
    }

    .header .menu-mobile-toggle span:nth-child(4) {
        top: 1rem;
    }

    .header-item-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        z-index: 111;
        overflow: hidden;
        background: var(--color-white);
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .header .menu.active {
        -webkit-transform: translate(0%);
        transform: translate(0%);
    }

    .header .menu > ul > li {
        display: block;
        line-height: 1;
        margin: 0;
    }

    .header .menu > ul > li > a {
        display: block;
        line-height: 3.125rem;
        height: 3.125rem;
        padding: 0 3.125rem 0 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header .menu > ul > li > a i.ion {
        position: absolute;
        font-size: 1.25rem;
        line-height: 3.125rem;
        top: 0;
        right: 0;
        width: 3.125rem;
        height: 3.125rem;
        text-align: center;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .header .menu .menu-mobile-header {
        position: relative;
        position: sticky;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        top: 0;
        height: 3.125rem;
        z-index: 110;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background: var(--color-white);
    }

    .header .menu .menu-mobile-header .menu-mobile-arrow {
        display: none;
        font-size: 1.25rem;
        line-height: 3.125rem;
        width: 3.125rem;
        height: 3.125rem;
        cursor: pointer;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        color: var(--color-black);
    }

    .header .menu .menu-mobile-header.active .menu-mobile-arrow {
        display: block;
    }

    .header .menu .menu-mobile-header .menu-mobile-title {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        line-height: inherit;
        color: var(--color-black);
        text-transform: capitalize;
    }

    .header .menu .menu-mobile-header .menu-mobile-close {
        font-size: 2.25rem;
        line-height: 3.125rem;
        cursor: pointer;
        width: 3.125rem;
        height: 3.125rem;
        text-align: center;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        color: var(--color-black);
    }

    .header .menu .menu-section {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .header .menu > ul > li .menu-subs {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        max-width: none;
        min-width: auto;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1rem;
        padding-top: 4rem;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .header .menu > ul > li .menu-subs.menu-mega {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        max-width: none;
        min-width: auto;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1rem;
        padding-top: 4rem;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .header .menu > ul > li .menu-subs.active {
        display: block;
    }

    .header .menu > ul > li .menu-subs.menu-column-4 > .list-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding: 0rem;
    }

    .header .menu > ul > li .menu-subs.menu-column-4 > .list-item img {
        margin-top: 0;
    }

    .header .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center .title {
        margin-bottom: 1.25rem;
    }

    .header .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center:last-child .title {
        margin-bottom: 0rem;
    }

    .header .menu > ul > li .menu-subs > ul > li > a {
        display: block;
    }

    .header .menu > ul > li .menu-subs.menu-mega > .list-item > ul {
        margin-bottom: 1rem;
    }

    .header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a {
        display: block;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.65);
        -webkit-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
}


.contract-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    float: left;
    margin: 40px;

    width: 330px;

    background-image: url('../img/bg/card-bg.png');
    background-position-x: -50px;
    background-position-y: -80px;
    background-repeat: no-repeat;
    background-size: 150%;
    border-radius: 39px;
    padding: 30px 20px 30px 20px;
    transition: 0.5s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    width: 95%;
    justify-content: space-between;
    background: #F8F8F8;
    border-radius: 19px;
    box-shadow: none;
    color: #5F6F76;
}

.contract-card:hover {
    transform: scale(1.04);
}

.contract-card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    float: left;
    margin: 40px;

    width: 330px;

    background-image: url('../img/bg/card-bg.png');
    background-position-x: -50px;
    background-position-y: -80px;
    background-repeat: no-repeat;
    background-size: 150%;
    border-radius: 39px;
    padding: 30px 20px 30px 20px;
    transition: 0.5s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    width: 95%;
    justify-content: space-between;
    background: #F8F8F8;
    border-radius: 19px;
    box-shadow: none;
    color: #5F6F76;

    height: 100%;
}

.card-info-contanier {
    width: 50%;
    height: 100%;
}

.card-img-contanier {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.card-img-custome {
    width: auto;
    max-height: 250px;
}

.card-info {
    width: 100%;
    max-height: 100px;
    overflow: hidden;
}

.card-text {
    margin-top: 50px;
    font-family: "Robot", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    width: 90%;
}

.cont {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.prod_url {
    text-overflow: ellipsis; /* will make [...] at the end */
    width: 280px; /* change to your preferences */
    white-space: nowrap; /* paragraph to one line */
    overflow: hidden; /* older browsers */
}


.mini_menu_block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid #EDEDED;
    padding-bottom: 10px;

    margin-bottom: 10px;
}

.HeartItem {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    background: #EDEDED;
    border-radius: 15px;
}

.inFavorites {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.copy_link_block {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    width: 30%;
    height: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #3A89FF;

    background: #EDEDED;
    border-radius: 15px;
}

.owner_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #5F6F76;
}

.text_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #3A89FF;
    text-decoration: none;
}

.title_description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;

    color: #5F6F76;

    text-decoration: none;
}

.text_desc {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #748288;
}

.block_desc {
    margin-top: 20px;
}

.button_in_backet {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    min-width: 170px;

    background: #3A89FF;
    border-radius: 6px;
    color: white;

    border: none;

    margin: 10px;
}

.button_in_backet.danger {
    background: #dc3545;
}

.sale_text {
    font-size: 12px;
    position: absolute;
    top: -20px;
    width: 100%;
    color: black;
}

.text_desc_more {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #3A89FF;
}

.NonTextLinkStyle {
    text-decoration: none;
}

.info-container {
    position: absolute;
    top: 100px;
    left: 0;
    min-width: 100%;


}

.banner {
    position: relative;
    display: flex;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 25vh;
    background-color: #E1EDFF;
    border-bottom: 3px solid #C0C0C0;
}

.profile {
    display: flex;
    position: relative;
    max-height: 20vh;

}

.profile .img-container {
    /*display: inline-block;*/
    position: relative;
    height: 15vw;
    width: 15vw;
    top: -7.5vw;
    left: 6vw;

    background-color: white;
    border: 3px solid #C0C0C0;
    border-radius: 50%;
}

.banner-container {
    /*object-fit: cover;*/
    /*display: flex;*/
    /*position: relative;*/
    width: 100%;
    height: 100%;
}

/*.banner-container {*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: 2px solid red;*/
/*    object-fit: cover;*/
/*}*/

.profile .description {
    display: inline-block;
    position: relative;
}

.profile .profile-text {
    left: 7vw;
    display: inline-block;
    position: relative;
}

/*.profile-name {*/
/*    left: 22vw;*/
/*    top: 20vh;*/
/*    z-index: 100;*/
/*    border: 2px solid greenyellow;*/
/*    margin-bottom: auto;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*}*/

.desc-text {
    position: relative;
    display: block;
    color: #748288;
}

.btn-profile {
    border: 2px solid #3A89FF;
    margin: auto;

}

.btn-primary {
    background-color: #3A89FF;
    text-decoration: none;
}

.btn-check {
    margin: auto;
    background-color: #3A89FF;

}

.checks-container {
    padding: 10px;
    justify-content: center;
    display: flex;
}

.nft-view {
    border-top: 1px solid #C0C0C0;
    min-width: 100%;
    min-height: 50%;
}

.btn-outline-primary {
    color: #3A89FF;
    text-decoration: none;
}

.btn-settings {
    transition: 3s;
    margin: 18px;
    top: 0;
    right: 0;
    z-index: 100;
    position: absolute
}

@keyframes moving {
    100% {
        transform: rotate(-360deg);
    }
}


.btn-settings :hover {
    animation: moving 3s infinite linear;
}

@media all and (max-width: 960px) {
    .contract-card {
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }

    .card-img-contanier, .card-info-contanier {
        width: 100%;
    }

    .card-info-contanier {
        margin-top: 1em;
    }

    .header .wrapper {
        justify-content: space-around;
    }

    .header-item-right ul {
        padding: 0;
    }

    .header .container {
        padding: 0;
    }

    .card-img-custome {
        max-width: 248px;
    }

    .contanier_nfts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 2em;
    }

}