{% extends "base.html" %}

{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
function func(id, type){
    $.ajax({
        url : "func_run", // the endpoint
        type : "GET", // http method
        data : { par_1 : id,
                 par_2 : document.getElementById(id).checked,
                 par_3 : type }, // data sent with the request
        // for successful response
        success : function(json) {
            console.log("success"); // another sanity check
            if (type == 1) {
                if (document.getElementById(id).checked) {
                    $("#icon_heart_"+id).attr("src","/static/icons/HeartFill.svg");
                } else {
                    $("#icon_heart_"+id).attr("src","/static/icons/HeartNotFill.svg");
                }
            } else if (type == 2) {
                var input_id_label = parseInt(id)-100;
                console.log(document.getElementById(id).checked)
                if (document.getElementById(id).checked) {
                    $("#label_in_basket_"+input_id_label.toString()).text("В корзине");
                } else {
                    $("#label_in_basket_"+input_id_label.toString()).text("В корзину");
                }
            }
            },

        // for non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide info about the error to the console
            }
    });
};

















</script>

<script>
function alertreg(time){
    alert('Сначала нужно авторизоваться!');
}
function remove(id,type) {
    func(id,type)
    window.location.reload()
}
function add_sale(id, type) {
    func(id,`sale ${document.getElementById(`sale ${String(id)}`).value}`)
    window.location.reload()
}
</script>

{% for item in goods %}
<div class="contanier_nfts">
    <div class='contract-card'>
        <div class="card-img-contanier">
            <img style="margin-left: auto; margin-right: auto;max-height: 350px;height: 100%;" src={{item.image}} class='card-img-custome' alt="" width="150" height="150">
        </div>
        <div class="card-info-contanier">

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
