{% extends "base.html" %}
{% block content %}

<script>
    function get_private_key() {
        $.ajax({
            url: "../func_run", // the endpoint
            type: "GET", // http method
            data: {
                par_1: "",
                par_2: "",
                par_3: "get_private_key"
            }, // data sent with the request
            // for successful response
            success: function (json) {
                console.log("success", json); // another sanity check
                $("#private_key").text(json.key);
            },

            // for non-successful response
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide info about the error to the console
            }
        });
    };

    function del_image(id) {
        $.ajax({
            url: "../func_run", // the endpoint
            type: "GET", // http method
            data: {
                par_1: "",
                par_2: "",
                par_3: `del_img ${id}`
            }, // data sent with the request

            // for non-successful response
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide info about the error to the console
            }
        });
    };
</script>

<form action="" method="post" enctype=multipart/form-data>
    {{ form_red.hidden_tag() }}
    <p>
        {{ form_red.nickname.label }}<br>
        {{ form_red.nickname(class="form-control") }}<br>
        {% for error in form_red.nickname.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form_red.description.label }}<br>
        {{ form_red.description(class="form-control") }}<br>
        {% for error in form_red.description.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form_red.name.label }}<br>
        {{ form_red.name(class="form-control") }}<br>
        {% for error in form_red.name.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form_red.surname.label }}<br>
        {{ form_red.surname(class="form-control") }}<br>
        {% for error in form_red.surname.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}

    <h7>Фото профиля</h7>
    <div style="display: flex">
        <button type="button" style="float:left;" class="btn btn-danger" onclick="del_image(1)">X</button>
        <input type=file style="float: right" name=file class="form-control">
    </div>

    <h7>Баннер профиля</h7>
    <div style="display: flex">
        <button type="button" style="float:left;" class="btn btn-danger" onclick="del_image(2)">X</button>
        <input type=file style="float: right" name=file2 class="form-control">
    </div>

    <p>{{ form_red.submit(type="submit", class="btn btn-primary") }}</p>

    <h3 id="private_key"></h3>
    <button type="button" class="button_in_backet" onclick="get_private_key()">Get Private Key</button>

    {{ message }}
</form>
{% endblock %}